<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/favicon.ico" type="image/x-icon">
    <title>MFG-about</title>
    <!--Estilos principales-->
    <link rel="stylesheet" href="../styles/main.css">
    <!--Estilos About-->
    <link rel="stylesheet" href="../styles/about.css">
</head>
<body>
    <!-- Barra superior de Navegacios ==> Topbar -->
    <nav class="topbar_root">
        <div class="items">
            <div class="topbar_item"> <a href="../index.html">Inicio</a> </div>
            <div class="topbar_item"> <a href="./about.html">Sobre mí</a> </div>
            <div class="topbar_item"> <a href="./contact.html">Contacto</a> </div>
        </div>
    </nav>

    <div class="root">
        <!--Contenedor donde hay una breve biografia sober mi.-->
        <div class="bio">
            <h1>Sobre mí</h1>
        </div>
        <!-- Pie de pagina -->
        <footer class="footer_root">
            <!-- Texto para el copyright -->
            <h4>Manuel Fernández © 2021</h4>

            <!-- Lista para mis redes sociales -->
            <ul>
                <li class="footer_item">
                    <a target="_blank" href="mailto: manucabina@gmail.com"><img src="./assets/icons/mail.svg" alt=""></a>
                </li>
            
                <li class="footer_item">
                    <a target="_blank" href="https://github.com/unam29"><img src="./assets/icons/github.svg" alt=""></a>
                </li>
            
                <li class="footer_item">
                    <a target="_blank" href="https://www.instagram.com/Ma_Fdez13/" ><img src="./assets/icons/instagram.svg" alt=""></a>
                </li>
            </ul>
        </footer>
    </body>
</html>