<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--    Boostrap    -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous" />
    <!--                 -->
    <!--    CSS    -->
    <link rel="stylesheet" href="../styles/catalogo.css">
    <title>Catálogo</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><img src="../assets/imagenes/logo/Logo.png" alt="logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="../index.html"> Inicio </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="quienesSomos.html">Quienes somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="catalogo.html">Catálogo</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <!--    Intro   -->
    <div class="vehiculos">

        <div id="Furgonetas" class="contenedor">
            <h1>Catálogo</h1>
            <p> A continuación presentamos
                <br>
                <br>
                <br>
                una serie de vehículos que pueden ser alquilados o comprados en nuestras instalaciones.
            </p>
        </div>

        <!-- Fotos -->
        <div class="galeriaFotos">
            <div class="container">
    
                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Furgonetas</h1>
    
                <hr class="mt-2 mb-5">
    
                <div class="row text-center text-lg-left">
    
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo1.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo2.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo3.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo4.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo5.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo6.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/furgos/furgo7.jpg"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="container">
    
                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Carrozados</h1>
    
                <hr class="mt-2 mb-5">
    
                <div class="row text-center text-lg-left">
    
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/carrozados/carro1.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/carrozados/carro2.jpg"
                                alt="">
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/carrozados/carro3.jpg"
                                alt="">
                        </a>
                    </div>
                </div>
            </div>
    
            <div class="container">
    
                <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Industria</h1>
    
                <hr class="mt-2 mb-5">
    
                <div class="row text-center text-lg-left">
                    <div class="col-lg-3 col-md-4 col-6">
                        <a href="#" class="d-block mb-4 h-100">
                            <img class="img-fluid img-thumbnail" src="../assets/imagenes/catalogo/industria/indus1.jpg"
                                alt="">
                        </a>
                    </div>

    <!-- Footer -->
    <footer>
        <a href="https://www.facebook.com/pedro.picon.129"><img class="faceboock"
                src="../assets/imagenes/icon/facebook_internet_media_network_social_icon_123257.png" alt=""></a>
            <p>Numero de contacto: (+34) 000 000 000</p>
        <div class="copyrigth">
            <p style="color: black;">© 2021 Manuel Fdez</p>
        </div>
    </footer>
    <!-- Footer -->

    <!--    Boostrap    -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>